mixin news
  -
    const news = [
      {
        link: '#',
        img: 'pic-1',
        name: 'Открытие нового магазина!',
        text: 'Выбирайте из 40 000 товаров: у нас есть фрукты и овощи, мясо и рыба, все для дома и товары для животных мясо и рыба, все для дома и товары для животных мясо и рыба, все для дома и товары для животных'
      },
      {
        link: '#',
        img: 'pic-2',
        name: 'Конкурс рецептов Лайма',
        text: 'Выбирайте из 40 000 товаров: у нас есть фрукты и овощи, мясо и рыба, все для дома и товары для животных мясо и рыба, все для дома и товары для животных мясо и рыба, все для дома и товары для животных'
      },
      {
        link: '#',
        img: 'pic-3',
        name: 'Доставка теперь за 45 минут!',
        text: 'Выбирайте из 40 000 товаров: у нас есть фрукты и овощи, мясо и рыба, все для дома и товары для животных мясо и рыба, все для дома и товары для животных мясо и рыба, все для дома и товары для животных'
      },
      {
        link: '#',
        img: 'pic-4',
        name: 'Теперь и в Деливери!',
        text: 'Выбирайте из 40 000 товаров: у нас есть фрукты и овощи, мясо и рыба, все для дома и товары для животных мясо и рыба, все для дома и товары для животных мясо и рыба, все для дома и товары для животных'
      }
    ]

  section.news
    .news__title Новости лайма
    .news__wrapper
      each item in news
        a.news__item(href=item.link)
          .news__img-wrapper
            img.news__img(src=`img/${item.img}.png`, alt=item.name)
          .news__name!=item.name
          .news__text!=item.text
          .news__more Читать дальше